gpu/testfiles/norme.dtd

<!ELEMENT scene (camera|light|ambient|sphere|plane)*>
<!ELEMENT camera (pos, dir, rot*, tra*)>
<!ELEMENT light (pos, dir*, color*, intensity)>
<!ELEMENT ambient (color, intensity)>
<!ELEMENT sphere (pos, tra*, radius, color, reflection*)>
<!ELEMENT plane (origin, normal, tra*, rot*, color, reflection*)>


<!ELEMENT pos (#PCDATA)>
<!ELEMENT dir (#PCDATA)>
<!ELEMENT rot (#PCDATA)>
<!ELEMENT tra (#PCDATA)>
<!ELEMENT origin (#PCDATA)>
<!ELEMENT normal (#PCDATA)>
<!ELEMENT radius (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT intensity (#PCDATA)>
<!ELEMENT reflection (#PCDATA)>


<!ATTLIST scene name CDATA #REQUIRED>
<!ATTLIST pos
	x CDATA #REQUIRED
	y CDATA #REQUIRED
	z CDATA #REQUIRED
>
<!ATTLIST dir
	x CDATA #REQUIRED
	y CDATA #REQUIRED
	z CDATA #REQUIRED
>
<!ATTLIST rot
	x CDATA #REQUIRED
	y CDATA #REQUIRED
	z CDATA #REQUIRED
>
<!ATTLIST tra
	x CDATA #REQUIRED
	y CDATA #REQUIRED
	z CDATA #REQUIRED
>
<!ATTLIST origin
	x CDATA #REQUIRED
	y CDATA #REQUIRED
	z CDATA #REQUIRED
>
<!ATTLIST normal
	x CDATA #REQUIRED
	y CDATA #REQUIRED
	z CDATA #REQUIRED
>
<!ATTLIST color
	r CDATA #REQUIRED
	g CDATA #REQUIRED
	b CDATA #REQUIRED
	a CDATA #REQUIRED
>
<!ATTLIST radius data CDATA #REQUIRED>
<!ATTLIST intensity data CDATA #REQUIRED>
<!ATTLIST reflection data CDATA #REQUIRED>
